h1, h2, h3 {
  font-family: 'Shrikhand', cursive;
}

.jumbo-wells {
  height: 40%;
  background: rgba(255,255,255,0.65);
}

.jumbotron {
  background-image: url("../../resources/img/weiner-beer.jpeg");
  background-size: cover;
}

.listedBeers {
  background-color: rgba(255, 255, 255, 0.65);
}

body {
  background-image: url("../../resources/img/wood-panel.jpeg");
  background-size: center;
}
